table, th, td {
  
    font-size:150%;
    border: 1px solid;}

table {
    width: 100%;
}

.titre{
    color: #ff0000; 
    font-family:verdana;
    font-size:300%;
    text-align: center;
}

.titretable{
    
    font-size:130%;
    color: #0000ff; 
}
a{
    color: #666666; 
}